In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
x_train=train.iloc[:,1:-1]
y_train=train["target"]
y_train=np.ravel(y_train)
x_train.head()

,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,cont_10,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
0,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,511,511,255,255
1,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,511,511,255,255
2,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,511,511,255,255
3,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,511,511,255,255
4,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,511,511,255,255

In [23]:
clf=RandomForestClassifier(max_depth=5)
eq=clf.fit(x_train,y_train)

In [24]:
eq.score(x_train,y_train)

0.77816628963953061